<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955337206220-va80jc35k5ctghlo4moikndctisg3q6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955337206220-va80jc35k5ctghlo4moikndctisg3q6d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>955337206220-f98s98tmtj8nlkccdg99u38q5hkrclub.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpNEYWxvdOkXwoCSDNn7NX9EFZpeqfD00</string>
	<key>GCM_SENDER_ID</key>
	<string>955337206220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.squaredmenu</string>
	<key>PROJECT_ID</key>
	<string>sqauredmenu</string>
	<key>STORAGE_BUCKET</key>
	<string>sqauredmenu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955337206220:ios:a06449a697fab3a6681569</string>
</dict>
</plist>